$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.circle {
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;

  li {
    overflow: hidden;
    position: absolute;
    top: 0; right: 0;
    width: 50%; height: 50%;
    transform-origin: 0% 100%;
  }


  .text {
    position: absolute;
    left: -95%;
    width: 200%; height: 175%;
    text-align: center;
    -webkit-transform: skewY(60deg) rotate(15deg);
    -ms-transform: skewY(60deg) rotate(15deg);
    transform: skewY(60deg) rotate(15deg);
    padding-top: 27px;


    span {
      display: block;

      a {
        display: block;
        //border: 1px solid #ddd;
        color: #000;
        font-size: 11.5px;
      }

      &:last-child {
        a {
          padding-bottom: 20px;
        }
      }
    }
  }

  li:first-child {
    -webkit-transform: rotate(0deg) skewY(-60deg);
    -ms-transform: rotate(0deg) skewY(-60deg);
    transform: rotate(0deg) skewY(-60deg);
  }
  li:nth-child(2) {
    -webkit-transform: rotate(30deg) skewY(-60deg);
    -ms-transform: rotate(30deg) skewY(-60deg);
    transform: rotate(30deg) skewY(-60deg);
  }
  li:nth-child(3) {
    -webkit-transform: rotate(60deg) skewY(-60deg);
    -ms-transform: rotate(60deg) skewY(-60deg);
    transform: rotate(60deg) skewY(-60deg);
  }
  li:nth-child(4) {
    -webkit-transform: rotate(90deg) skewY(-60deg);
    -ms-transform: rotate(90deg) skewY(-60deg);
    transform: rotate(90deg) skewY(-60deg);
  }
  li:nth-child(5) {
    -webkit-transform: rotate(120deg) skewY(-60deg);
    -ms-transform: rotate(120deg) skewY(-60deg);
    transform: rotate(120deg) skewY(-60deg);
  }
  li:nth-child(6) {
    -webkit-transform: rotate(150deg) skewY(-60deg);
    -ms-transform: rotate(150deg) skewY(-60deg);
    transform: rotate(150deg) skewY(-60deg);
  }
  li:nth-child(7) {
    -webkit-transform: rotate(180deg) skewY(-60deg);
    -ms-transform: rotate(180deg) skewY(-60deg);
    transform: rotate(180deg) skewY(-60deg);
  }
  li:nth-child(8) {
    -webkit-transform: rotate(210deg) skewY(-60deg);
    -ms-transform: rotate(210deg) skewY(-60deg);
    transform: rotate(210deg) skewY(-60deg);
  }
  li:nth-child(9) {
    -webkit-transform: rotate(240deg) skewY(-60deg);
    -ms-transform: rotate(240deg) skewY(-60deg);
    transform: rotate(240deg) skewY(-60deg);
  }
  li:nth-child(10) {
    -webkit-transform: rotate(270deg) skewY(-60deg);
    -ms-transform: rotate(270deg) skewY(-60deg);
    transform: rotate(270deg) skewY(-60deg);
  }
  li:nth-child(11) {
    -webkit-transform: rotate(300deg) skewY(-60deg);
    -ms-transform: rotate(300deg) skewY(-60deg);
    transform: rotate(300deg) skewY(-60deg);
  }
  li:nth-child(12) {
    -webkit-transform: rotate(330deg) skewY(-60deg);
    -ms-transform: rotate(330deg) skewY(-60deg);
    transform: rotate(330deg) skewY(-60deg);
  }
  li:first-child .text, li:nth-child(5) .text, li:nth-child(9) .text {
    background: #f49ac1;
  }
  li:nth-child(2) .text, li:nth-child(6) .text, li:nth-child(10) .text {
    background: #7cc576;
  }
  li:nth-child(3) .text, li:nth-child(7) .text, li:nth-child(11) .text {
    background: #fff568;
  }
  li:nth-child(4) .text, li:nth-child(8) .text, li:nth-child(12) .text {
    background: #6dcff6;
  }
}

.circle4 {
  .text {
    position: absolute;
    left: -133px;
    width: 199%;
    height: 119%;
    text-align: center;
    -webkit-transform: skewY(60deg) rotate(15deg);
    transform: skewY(13deg) rotate(43deg);
    padding-top: 1px;

    span {
      padding: 3px 0;
    }
  }

  li:first-child {
    -webkit-transform: rotate(0deg) skewY(-180deg);
    -ms-transform: rotate(0deg) skewY(-180deg);
    transform: rotate(0deg) skewY(-180deg);
  }
  li:nth-child(2) {
    -webkit-transform: rotate(90deg) skewY(-180deg);
    -ms-transform: rotate(90deg) skewY(-180deg);
    transform: rotate(90deg) skewY(-180deg);
  }
  li:nth-child(3) {
    -webkit-transform: rotate(180deg) skewY(-180deg);
    -ms-transform: rotate(180deg) skewY(-180deg);
    transform: rotate(180deg) skewY(-180deg);
  }
  li:nth-child(4) {
    -webkit-transform: rotate(270deg) skewY(-180deg);
    -ms-transform: rotate(270deg) skewY(-180deg);
    transform: rotate(270deg) skewY(-180deg);
  }

  li:first-child .text {
    background: #f49ac1;
  }
  li:nth-child(2) .text {
    background: #7cc576;
  }
  li:nth-child(3) .text {
    background: #fff568;
  }
  li:nth-child(4) .text {
    background: #6dcff6;
  }
}


.circle8 {
  .text {
    position: absolute;
    left: -191px;
    width: 200%;
    height: 152%;
    text-align: center;
    -webkit-transform: skewY(60deg) rotate(15deg);
    transform: skewY(45deg) rotate(22deg);
    padding-top: 15px;

    span {
      padding: 0;
    }
  }

  li:first-child {
    -webkit-transform: rotate(0deg) skewY(-225deg);
    -ms-transform: rotate(0deg) skewY(-225deg);
    transform: rotate(0deg) skewY(-225deg);
  }
  li:nth-child(2) {
    -webkit-transform: rotate(45deg) skewY(-225deg);
    -ms-transform: rotate(45deg) skewY(-225deg);
    transform: rotate(45deg) skewY(-225deg);
  }
  li:nth-child(3) {
    -webkit-transform: rotate(90deg) skewY(-225deg);
    -ms-transform: rotate(90deg) skewY(-225deg);
    transform: rotate(90deg) skewY(-225deg);
  }
  li:nth-child(4) {
    -webkit-transform: rotate(135deg) skewY(-225deg);
    -ms-transform: rotate(135deg) skewY(-225deg);
    transform: rotate(135deg) skewY(-225deg);
  }
  li:nth-child(5) {
    -webkit-transform: rotate(180deg) skewY(-225deg);
    -ms-transform: rotate(180deg) skewY(-225deg);
    transform: rotate(180deg) skewY(-225deg);
  }
  li:nth-child(6) {
    -webkit-transform: rotate(225deg) skewY(-225deg);
    -ms-transform: rotate(225deg) skewY(-225deg);
    transform: rotate(225deg) skewY(-225deg);
  }
  li:nth-child(7) {
    -webkit-transform: rotate(270deg) skewY(-225deg);
    -ms-transform: rotate(270deg) skewY(-225deg);
    transform: rotate(270deg) skewY(-225deg);
  }
  li:nth-child(8) {
    -webkit-transform: rotate(315deg) skewY(-225deg);
    -ms-transform: rotate(315deg) skewY(-225deg);
    transform: rotate(315deg) skewY(-225deg);
  }

  li:first-child .text {
    background: #f49ac1;
  }
  li:nth-child(2) .text {
    background: #7cc576;
  }
  li:nth-child(3) .text {
    background: #fff568;
  }
  li:nth-child(4) .text {
    background: #6dcff6;
  }
  li:nth-child(5) .text {
    background: #f60a8a;
  }
  li:nth-child(6) .text {
    background: #f6f36e;
  }
  li:nth-child(7) .text {
     background: #58f644;
  }
  li:nth-child(8) .text {
    background: #1837f6;
  }
}


.circle10 {
  .text {
    position: absolute;
    left: -191px;
    width: 200%;
    height: 152%;
    text-align: center;
    -webkit-transform: skewY(60deg) rotate(15deg);
    transform: skewY(45deg) rotate(22deg);
    padding-top: 15px;
  }

  span {
    padding: 0;
  }


  li:first-child {
    -webkit-transform: rotate(0deg) skewY(-225deg);
    -ms-transform: rotate(0deg) skewY(-225deg);
    transform: rotate(0deg) skewY(-225deg);
  }
  li:nth-child(2) {
    -webkit-transform: rotate(36deg) skewY(-225deg);
    -ms-transform: rotate(36deg) skewY(-225deg);
    transform: rotate(36deg) skewY(-225deg);
  }
  li:nth-child(3) {
    -webkit-transform: rotate(72deg) skewY(-225deg);
    -ms-transform: rotate(72deg) skewY(-225deg);
    transform: rotate(72deg) skewY(-225deg);
  }
  li:nth-child(4) {
    -webkit-transform: rotate(108deg) skewY(-225deg);
    -ms-transform: rotate(108deg) skewY(-225deg);
    transform: rotate(108deg) skewY(-225deg);
  }
  li:nth-child(5) {
    -webkit-transform: rotate(180deg) skewY(-225deg);
    -ms-transform: rotate(180deg) skewY(-225deg);
    transform: rotate(180deg) skewY(-225deg);
  }
  li:nth-child(6) {
    -webkit-transform: rotate(225deg) skewY(-225deg);
    -ms-transform: rotate(225deg) skewY(-225deg);
    transform: rotate(225deg) skewY(-225deg);
  }
  li:nth-child(7) {
    -webkit-transform: rotate(270deg) skewY(-225deg);
    -ms-transform: rotate(270deg) skewY(-225deg);
    transform: rotate(270deg) skewY(-225deg);
  }
  li:nth-child(8) {
    -webkit-transform: rotate(315deg) skewY(-225deg);
    -ms-transform: rotate(315deg) skewY(-225deg);
    transform: rotate(315deg) skewY(-225deg);
  }

  li:first-child .text {
    background: #f49ac1;
  }
  li:nth-child(2) .text {
    background: #7cc576;
  }
  li:nth-child(3) .text {
    background: #fff568;
  }
  li:nth-child(4) .text {
    background: #6dcff6;
  }
  li:nth-child(5) .text {
    background: #2d1df6;
  }
  li:nth-child(6) .text {
    background: #f64acb;
  }
  li:nth-child(7) .text {
    background: #f67637;
  }
  li:nth-child(8) .text {
    background: #bff637;
  }
  li:nth-child(9) .text {
    background: #31f65f;
  }
  li:nth-child(10) .text {
    background: #4af6c1;
  }
}





.circle {
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 34px 20px;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.circle.headings {
  position: absolute;
  left: 0;
  top: 0;
  width: 36em;
  height: 36em;
  margin: -9px;
  border: 0;

  li:first-child .text, li:nth-child(5) .text, li:nth-child(9) .text {
    background: transparent;
  }
  li:nth-child(2) .text, li:nth-child(6) .text, li:nth-child(10) .text {
    background: transparent;
  }
  li:nth-child(3) .text, li:nth-child(7) .text, li:nth-child(11) .text {
    background: transparent;
  }
  li:nth-child(4) .text, li:nth-child(8) .text, li:nth-child(12) .text {
    background: transparent;
  }
}

h2 {
  padding-bottom: 25px
}

h5 {
  font-size: 16px;
}

.export-btns {
  margin-top: 50px;
  margin-bottom: 50px;
}

#default-wheel-container {
  background-color: #fff;
  padding: 35px;
}

.marks-list {
  li {
    list-style: none;
    padding: 0;
  }
}