<div class="circle-wrapper">
  <ul class="circle headings">

    {{ common.categories === default.categories ? default.categories : custom.categoriesTemplate }}

    <li ng-repeat="category in default.categories">
      <div class="text"><h5>{{ category.name }}</h5></div>
    </li>
  </ul>
  <!-- todo: remove all inline styles -->
  <ul class="circle body">
    <li ng-repeat="category in default.categories" class="{{ category.bgColor }}">
      <div class="text" >
        <circle-body></circle-body>
      </div>
    </li>
  </ul>
</div>
