<div class="circle-wrapper" data-type="{{ circle.data.type }}">  <!--custom or default-->
  <ul class="circle headings">
    <li ng-repeat="circleCategory in dCircle.circleData"> <!-- repeat n-times -->
      <div class="text"><h5>{{ circleCategory.categoryName }}</h5></div>
    </li>
  </ul>
  <!-- todo: remove all inline styles -->
  <ul class="circle body">
    <li ng-repeat="circleCategory in dCircle.circleData" class="{{circleCategory.color}}">
      <div class="text" >
        <span
          style="background-color: {{ grade.bgColor }}"
          ng-repeat="grade in dCircle.gradesScale"
          ng-click="circle.setCategoryGrade(circleCategory, grade, $index)">

          <a href="#">{{grade.index}}</a>
        </span>
      </div>
    </li>
  </ul>
</div>
